.conteiner{
    display: grid;
    grid-template-columns: repeat(11, 40px);
}

.colomnLetter{
    cursor: default;
    margin: auto auto;
    font-size: 25px;
    color: white;
}

.itemPole{
    width: 40px;
    height: 40px;
    border: 1px solid var(--BackBlackBlue);
    transition: .2s;
    z-index: 1;
    box-sizing: border-box;
}
.itemPole:hover{
    background-color: gray;
    cursor: pointer;
}

.fonCubeShip{
    background-color: var(--BackBlackBlue);
}
.fonCube{
    background-color: white;
}

.shotYES{
    color: white;
}

.test1{
    position: relative;
}

.shotShipYES{
    background-color: var(--BackBlackBlue);
}

.shotYES{
    pointer-events: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.shotYES::after{
    position: absolute;
    top: 43%;
    content: "";
    width: 100%;
    height: 2px;
    border-bottom: 2px solid white;
    transform: rotate(-45deg);
}

.shotYES::before{
    position: absolute;
    content: "";
    top: 43%;

    width: 100%;
    height: 2px;
    border-bottom: 2px solid white;
    transform: rotate(45deg);
}

.shotNO{
    pointer-events: none;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-53%,-50%);
    width: 50%;
    height: 50%;
    border: 2px solid var(--BackBlackBlue);
    z-index: 2;
    border-radius: 100%;
    transition: .2s;
}

