.linkDiv{
    position: relative;
}
.link{
    cursor: pointer;
    width: 100%;
    display: block;
    color: var(--BTN2Color);
    text-align: center;
    font-size: 15px;
    padding: 13px 20px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: inherit;
    border: none;
}

.link:disabled{
    border: 1px solid white;
    opacity: .2;
}

.line::before{
    content: '';
    position: absolute;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    transition: 
        width .15s ease-out .45s, 
        height .15s ease-out .3s, 
        border-color 0s ease-out .6s;
}

.line::after{
    content: '';
    position: absolute;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    width: 0;
    height: 0;
    bottom: -1px;
    right: 0;
    transition: 
        width .15s ease-out .15s, 
        height .15s ease-out 0s, 
        border-color 0s ease-out .3s;
}

.line:hover:before{
    width: 100%;
    height: 100%;
    border-top: 1px solid var(--BTN2ColorB);
    border-right: 1px solid var(--BTN2ColorB);
    transition: 
        border-color 0s ease-out 0s, 
        width .15s ease-out 0s, 
        height .15s ease-out .15s;
}

.line:hover:after{
    border-left: 1px solid var(--BTN2ColorB);
    border-bottom: 1px solid var(--BTN2ColorB);
    width: 100%;
    height: 100%;
    transition: 
        border-color 0s ease-out .3s, 
        width .15s ease-out .3s,
        height .15s ease-out .45s;
}