.header{
    display: flex;
    justify-content: space-between;
    height: 9%;
    box-sizing: border-box;
    background-color: var(--BackBlackBlue);
}

.headerUser{
    cursor: default;
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 30px;
    padding: 20px 60px;
    padding-right: 20px;
    box-sizing: border-box;
    

    animation: animUser 1.5s ease-in-out;
}

.headerBTN{
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.chekRaund{
    cursor: default;
    color: white;
    font-size: 25px;
}

.headerPK{
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 30px;
    
    padding: 20px 60px;
    padding-left: 20px;
    box-sizing: border-box;

    animation: animPK 1.5s ease-in-out;
}

@keyframes animUser {
    from {
        transform: translate(-600px);
    }
    70%{
        transform: translate(30px);
    }
    to{
        transform: translate(0px);
    }
}

@keyframes animPK {
    from {
        transform: translate(600px);
    }
    70%{
        transform: translate(-30px);
    }
    to{
        transform: translate(0px);
    }
}