.InputNameMain{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 44, 60, .9);
}
.mainPole{
    width: 70%;
    background-color: var(--BackBlackBlue);
    opacity: .95;
}
.form {
    background-color: var(--BackBlackBlue);
    border-radius: 20px;
    /* min-height: 100%; */
    padding: 50px;
    width: 35%;
    /* height: 100%; */
    box-sizing: border-box;
}
.title {
    color: #eee;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
}
.ic2 {
    margin-top: 30px;
}

.BTN{
    margin-top: 20px;
    box-sizing: border-box;
}